
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="<?= BASE_URL; ?>/">Themify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link<?= $active === 'home' ? ' active' : '';?>" aria-current="page" href="<?= BASE_URL; ?>/">
            <i class="fa fa-home me-1"></i>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link<?= $active === 'products' ? ' active' : '';?>" href="<?= BASE_URL; ?>/products/products.php">
            <i class="fa fa-list me-1"></i>
            Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link<?= $active === 'payment' ? ' active' : '';?>" href="<?= BASE_URL; ?>/payment/payment.php">
            <i class="fa fa-dollar me-1"></i>
            Payment
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link<?= $active === 'profile' ? ' active' : '';?>" href="<?= BASE_URL; ?>/user/view-profile.php">
            <i class="fa fa-user-circle-o me-1"></i>
            Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link<?= $active === 'downloads' ? ' active' : '';?>" href="<?= BASE_URL; ?>/user/downloads.php">
            <i class="fa fa-download me-1"></i>
            Downloads
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link<?= $active === 'login' ? ' active' : '';?>" href="<?= BASE_URL; ?>/auth/login.php">
            <i class="fa fa-sign-in me-1"></i>
            Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link<?= $active === 'register' ? ' active' : '';?>" href="<?= BASE_URL; ?>/auth/register.php">
            <i class="fa fa-user-plus me-1"></i>
            Register
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<?= BASE_URL; ?>/auth/logout.php">
            <i class="fa fa-sign-out me-1"></i>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>