<div class="col-lg-4 mb-4 col-md-6 col-12">
  <div class="card" style="width: 18rem;">
    <img src="https://picsum.photos/400/400" class="card-img-top" alt="Product Image">
    <div class="card-body">
      <h5 class="card-title">Product Title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab labore, voluptates.
        Accusantium aspernatur cupiditate dolores, ducimus obcaecati officiis repellat unde!</p>
      <?php if ((!isset($_SESSION['userId']) || $product['created_by'] !== $_SESSION['userId']) && !$profile) { ?>
      <a href="<?= BASE_URL; ?>/payment/payment.php" class="btn btn-primary">Buy Now</a>
      <?php } ?>
      <a href="<?= BASE_URL; ?>/products/single-product.php" class="btn btn-primary">View Details</a>
    </div>
  </div>
</div>