<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="<?= BASE_URL; ?>/">Themify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
        <?php if (isset($_SESSION['user_id'])) { ?>
        <li class="nav-item">
          <a class="nav-link<?= $active === 'download' ? ' active' : '';?>" href="<?= BASE_URL; ?>/download.php">
            <i class="fa fa-user-circle-o me-1"></i>
            Download
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link<?= $active === 'profile' ? ' active' : '';?>" href="<?= BASE_URL; ?>/user/profile.php">
            <i class="fa fa-user-circle-o me-1"></i>
            Profile
          </a>
        </li>
        <li class="nav-item ms-auto">
          <a class="nav-link" href="<?= BASE_URL; ?>/auth/logout.php">
            <i class="fa fa-sign-out me-1"></i>
            Logout
          </a>
        </li>
        <?php } else { ?>
        <li class="nav-item">
          <a class="nav-link<?= $active === 'payment' ? ' active' : '';?>" href="<?= BASE_URL; ?>/auth/payment.php">
            <i class="fa fa-dollar me-1"></i>
            Payment
          </a>
        </li>
        <li class="nav-item ms-auto">
          <a class="nav-link<?= $active === 'login' ? ' active' : '';?>" href="<?= BASE_URL; ?>/auth/login.php">
            <i class="fa fa-sign-in me-1"></i>
            Login
          </a>
        </li>
        <?php } ?>
      </ul>
    </div>
  </div>
</nav>